<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="ApplaudoPractice">
        <classes>
            <class name="Tests">
                <methods>
                    <include name="addItem_test"></include>
                    <include name="removeItem_test"></include>
                    <include name="validateStoreInformation_test"></include>
                    <include name="searchItem_test"></include>
                    <include name="itemNotFound_test"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>